{% extends "base.html" %}



{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6M8XGSMGX2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6M8XGSMGX2');
</script>
{% endblock %}

{% block site_nav %}

{% if nav %}
{% if page and page.meta and page.meta.hide %}
{% set hidden = "hidden" if "navigation" in page.meta.hide %}
{% endif %}
<div class="md-sidebar md-sidebar--primary" data-md-component="navigation" {{ hidden }}>
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/nav.html" %}
        </div>
    </div>
</div>
{% endif %}

{% if page.toc and not "toc.integrate" in features %}
{% if page and page.meta and page.meta.hide %}
{% set hidden = "hidden" if "toc" in page.meta.hide %}
{% endif %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" {{ hidden }}>
    <div class="md-sidebar__scrollwrap">
        <a href="/join"><img width="100%" src="/img/discord.png"></a>
       <!-- <a href="/donate"><img width="100%" src="/img/donate.png"></a> -->
        <div class="md-sidebar__inner">
            <br>
            {% include "partials/toc.html" %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}