{% extends "base.html" %}



{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6M8XGSMGX2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6M8XGSMGX2');

function language_selector() {
    let language_links = document.getElementsByClassName("language-select-link");
    for (let i = 0; i < language_links.length; i++) {
        let element = language_links[i];
        const regex = new RegExp(`${window.location.host}(/en|/pt-br|/de|/es|/id)*`);
        element.href = window.location.href.replace(regex, window.location.host + "/" + element.hreflang);
    }

    let anchors = document.getElementsByTagName("a");
    for (let i = 0; i < anchors.length; i++) {
        let element = anchors[i];
        if (element.href && !element.href.includes(".") && element.closest("li.md-nav___item")) {
            const regex = new RegExp(`${window.location.host}(/en|/pt-br|/de|/es|/id)*`);
            let base_link = window.location.href.match(regex)[0];
            let language_path = base_link.split("/").pop(); // Get the current language from the URL
            element.href = element.href.replace(/^(.*)(#[^#]*)?$/, `$1/${language_path}$2`); // Add /<language>/ to href
        }
    }
}

const observer = new MutationObserver(function() {language_selector()});
observer.observe(document.documentElement, {childList: true, subtree: true});

</script>



<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7374918663808833"
     crossorigin="anonymous"></script>

{% endblock %}

{% block site_nav %}

{% if nav %}
{% if page and page.meta and page.meta.hide %}
{% set hidden = "hidden" if "navigation" in page.meta.hide %}
{% endif %}
<div class="md-sidebar md-sidebar--primary" data-md-component="navigation" {{ hidden }}>
    <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
            {% include "partials/nav.html" %}
        </div>
    </div>
</div>
{% endif %}

{% if page.toc and not "toc.integrate" in features %}
{% if page and page.meta and page.meta.hide %}
{% set hidden = "hidden" if "toc" in page.meta.hide %}
{% endif %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" {{ hidden }}>
    <div class="md-sidebar__scrollwrap">
        <a href="/join"><img width="100%" src="/img/discord.png"></a>
       <!-- <a href="/donate"><img width="100%" src="/img/donate.png"></a> -->
        <div class="md-sidebar__inner">
            <br>
            {% include "partials/toc.html" %}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
