.md-typeset ul li, .md-typeset ol li{
    margin-bottom: 0em;
}

[data-md-color-scheme="default"] {
  --md-typeset-kbd-border-color: #7e56c2;
}

.md-typeset kbd {
  font-size: .78em;
}

.md-typeset blockquote {
	border-left: .2rem solid hsl(262deg 47% 55%);

}

[data-md-color-primary=blue-grey] {
    --md-primary-fg-color: #0b5570;
    --md-primary-fg-color--light: #0F6888;
    --md-primary-fg-color--dark: #0B516A;
    --md-primary-bg-color: #fff;
    --md-typeset-a-color: #00bbff;
    --md-primary-bg-color--light: hsla(0,0%,100%,.7);
}

.md-banner__inner {
    font-size: .7rem;
    margin: .1rem auto;
    padding: 0 .8rem;
}
