.md-typeset ul li, .md-typeset ol li{
    margin-bottom: 0em;
}

[data-md-color-scheme="slate"] {
  --md-default-fg-color:        rgba(255, 255, 255, 0.60);
  --md-default-fg-color--light: rgba(255, 255, 255, 0.38);
  --md-default-bg-color:        rgba(018, 018, 018, 0.90);

  --md-code-fg-color:           rgba(255, 255, 255, 0.60);
  --md-code-bg-color:           rgba(000, 000, 000, 0.38);
}

b, strong, .md-nav__title, h2, h3, h4 {
  color: rgba(255, 255, 255, 0.87);
}
